/* Estilos para el GridPane en la parte superior */
.top-grid-pane {
    -fx-padding: 30px;
    -fx-background-color: darkred;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

/* Estilos para las etiquetas */
.white-label {
    -fx-text-fill: white;
    -fx-font-size: 22px;
}

/* Estilos para las etiquetas de error */
.error-label {
    -fx-text-fill: rgb(249, 75, 75);
    -fx-font-size: 22px;
}

/* Estilos para el GridPane en el centro */
.center-grid-pane {
    -fx-padding: 10px;
    -fx-border-color: rgb(255, 179, 0);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: darkgreen;
    -fx-alignment: center;
    -fx-vgap: 40;
}

/* Estilo para las mesas de juego */
.game-grid-pane {
    -fx-border-color: rgb(255, 179, 0);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: darkgreen;
    -fx-alignment: center;
}

/* Estilos para el GridPane de ventana emergente */
.red-grid-pane {
    -fx-padding: 10px;
    -fx-border-color: rgb(255, 179, 0);
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
    -fx-background-color: darkred;
    -fx-alignment: center;
    -fx-vgap: 40;
}

/* Estilos para el GridPane que aparece a la derecha */
.right-grid-pane {
    -fx-background-color: darkred;
    -fx-border-color: black;
    -fx-border-width: 0px 2px 0px 2px;
}

/* Estilos para los botones */
Button {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-background-color: rgb(255, 179, 0);
    -fx-font-size: 14px;
}

/* Estilo cuando se pulsa un boton */
.button-clicked {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-background-color: lightblue;
    -fx-font-size: 14px;
}

/* Estilo para el botón con imagenes de 70x70 */
.image-button {
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 65px;
    -fx-pref-height: 65px;
}

/* Estilos para los GridPane laterales */
.lateral-grid-pane {
    -fx-padding: 100px;
    -fx-background-color: darkgreen;
}

/* Color principal de la aplicacion */
.main-color {
    -fx-background-color: darkgreen;
}

/* Color secundario de la aplicacion */
.secondary-color {
    -fx-border-color: rgb(255, 179, 0);
}

/* Estilo de las Vbox */
VBox {
    -fx-padding: 30px;
    -fx-background-color: darkgreen;
}

/* Estilo de las Hbox */
HBox {
    -fx-padding: 10px;
    -fx-background-color: darkgreen;
    -fx-alignment: CENTER;
}

/* Estilo de las tablas */
TableView {
    -fx-background-color: darkgreen;
    -fx-border-color: rgb(255, 179, 0);
    -fx-border-width: 1px;
}

/* Estilo de las columnas de la tabla */
.columna {
    -fx-background-color: rgb(255, 179, 0);
}

/* carta */
.stack-pane-carta {
    -fx-background-color: darkgreen;
}

.stack-pane-contenido-carta {
    -fx-background-color: rgb(252, 252, 104); 
    -fx-border-color: black; 
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-prefHeight: "50";
    -fx-prefWidth: "33";
}

.label-numero-carta {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

.vbox-carta {
    -fx-background-color: darkgreen;
    -fx-alignment: CENTER;
    -fx-padding: -10px;
}